In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

In [2]:
path = 'data/'

# Meat consumption until 2019 
apro_mt_pheadm_1_Data.csv

In [30]:
meat_consumption_path = path + 'apro_mt_pheadm_1_Data.csv'
meat_consumption = pd.read_csv(meat_consumption_path)
meat_consumption = meat_consumption.drop(columns = ['Flag and Footnotes'])

meat_consumption['Value'] = meat_consumption['Value'].str.replace(':', '0', regex=True)

meat_consumption = meat_consumption[meat_consumption['UNIT'] == 'Thousand tonnes']
meat_consumption = meat_consumption.drop(columns= ['UNIT'])

# Slaughtering only
meat_consumption = meat_consumption[meat_consumption['MEATITEM'] == 'Slaughterings']
meat_consumption = meat_consumption.drop(columns= ['MEATITEM'])

In [28]:
meat_consumption.head()

,TIME,GEO,MEAT,UNIT,Value
0,2004M01,European Union - 28 countries,Bovine meat,Thousand tonnes,676.95
10,2004M01,European Union - 28 countries,Calve and young cattley,Thousand tonnes,63.02
20,2004M01,European Union - 28 countries,Calve,Thousand tonnes,0
30,2004M01,European Union - 28 countries,Young cattle,Thousand tonnes,0
40,2004M01,European Union - 28 countries,Adult cattle,Thousand tonnes,613.94

In [24]:
meat_consumption.MEATITEM.unique()

array(['Slaughterings', 'Total imports of live animals',
       'Intra-EU imports of live animals',
       'Total exports of live animals',
       'Export to third countries: live animals'], dtype=object)

In [10]:
meat_consumption.GEO.unique()

array(['European Union - 28 countries',
       'European Union - 27 countries (2007-2013)',
       'European Union - 25 countries (2004-2006)',
       'European Union - 15 countries (1995-2004)', 'Belgium', 'Bulgaria',
       'Czechia', 'Denmark',
       'Germany (until 1990 former territory of the FRG)', 'Estonia',
       'Ireland', 'Greece', 'Spain', 'France', 'Croatia', 'Italy',
       'Cyprus', 'Latvia', 'Lithuania', 'Luxembourg', 'Hungary', 'Malta',
       'Netherlands', 'Austria', 'Poland', 'Portugal', 'Romania',
       'Slovenia', 'Slovakia', 'Finland', 'Sweden', 'United Kingdom',
       'Iceland', 'Switzerland', 'Montenegro', 'Albania', 'Serbia',
       'Turkey', 'Bosnia and Herzegovina',
       'Kosovo (under United Nations Security Council Resolution 1244/99)'],
      dtype=object)

In [11]:
meat_consumption.MEAT.unique()

array(['Bovine meat', 'Calve and young cattley', 'Calve', 'Young cattle',
       'Adult cattle'], dtype=object)

                                                                                                        Value
TIME    GEO
2004M01 Albania                                             ::::::::::::::::::::::::::::::::::::::::::::::...
        Austria                                             17.0654.980.863.340.863.341.4212.260.310.980.7...
        Belgium                                             23.7571.610.815.180.815.181.8210.99::3.8022.93...
        Bosnia and Herzegovina                              ::::::::::::::::::::::::::::::::::::::::::::::...
        Bulgaria                                            0.00:::::::::0.00:::::::::::::::::::::::::::::...
        Croatia                                             3.6021.890.162.170.111.480.000.000.000.000.701...
        Cyprus                                              0.281.38:0.00:0.00:0.70:0.700.000.00:::::0.70:...
        Czechia                                             8.9630.88::::::::0.060.92:::::::::::::::::::::...
        Denmark                                             13.1952.270.000.000.000.000.062.030.000.000.16...
        Estonia                                             1.157.060.000.000.000.000.070.280.000.000.071....
        European Union - 15 countries (1995-2004)           625.452,216.38::::::::60.57443.78:::::::::::::...
        European Union - 25 countries (2004-2006)           673.362,433.86::::::::62.32483.62:::::::::::::...
        European Union - 27 countries (2007-2013)           673.36:::::::::62.32::::::::::::::::::::::::::...
        European Union - 28 countries                       676.95:::::::::63.02::::::::::::::::::::::::::...
        Finland                                             8.0227.90::::::::0.050.44:::::::::::::::::::::...
        France                                              133.59464.981.0414.550.9914.3325.87155.600.712...
        Germany (until 1990 former territory of the FRG)    107.45344.821.4517.831.3717.4010.0790.863.9013...
        Greece                                              5.1323.94::::::::1.057.30:::::::::::::::::::::...
        Hungary                                             3.4312.470.090.700.090.700.345.340.254.120.060...
        Iceland                                             ::::::::::::::::::::::::::::::::::::::::::::::...
        Ireland                                             42.40141.50::::::::0.000.10:::::::::::::::::::...
        Italy                                               102.00373.0029.3896.1327.2377.150.223.100.000....
        Kosovo (under United Nations Security Council R...  ::::::::::::::::::::::::::::::::::::::::::::::...
        Latvia                                              1.508.800.301.100.301.10::::0.203.700.000.000....
        Lithuania                                           3.8128.600.000.000.000.000.261.280.080.300.261...
        Luxembourg                                          1.023.170.140.500.140.500.693.520.000.050.070....
        Malta                                               0.090.32::::::::0.000.00::::::::::::::::::::::...
        Montenegro                                          ::::::::::::::::::::::::::::::::::::::::::::::...
        Netherlands                                         32.23158.61::::::::14.70100.82::::::::::::::::...
        Poland                                              23.30107.760.000.000.000.001.9637.141.0111.430...
...                                                                                                       ...
2019M10 European Union - 15 countries (1995-2004)           ::::::::::::::::::::::::::::::::::::::::::::::...
        European Union - 25 countries (2004-2006)           ::::::::::::::::::::::::::::::::::::::::::::::...
        European Union - 27 countries (2007-2013)           ::::::::::::::::::::::::::::::::::::::::::::::...
        European Union - 28 countries                       ::::::::::::::::::::::::::::::::::::::::::::::...
        Finland                                             ::::::::::::::::::::::::::::::::::::::::::::::...
        France                                              ::::::::::::::::::::::::::::::::::::::::::::::...
        Germany (until 1990 former territory of the FRG)    ::::::::::::::::::::::::::::::::::::::::::::::...
        Greece                                              ::::::::::::::::::::::::::::::::::::::::::::::...
        Hungary                                             ::::::::::::::::::::::::::::::::::::::::::::::...
        Iceland                                             0.442.17::::::::0.000.18::::::::0.000.17::::::...
        Ireland                                             ::::::::::::::::::::::::::::::::::::::::::::::...
        Italy                                               ::::::::::::::::::::::::::::::::::::::::::::::...
        Kosovo (under United Nations Security Council R...  ::::::::::::::::::::::::::::::::::::::::::::::...
        Latvia                                              ::::::::::::::::::::::::::::::::::::::::::::::...
        Lithuania                                           ::::::::::::::::::::::::::::::::::::::::::::::...
        Luxembourg                                          1.022.79::::::::0.020.11::::::::0.010.04::::::...
        Malta                                               0.110.41::::::::0.000.01::::::::0.000.00::::::...
        Montenegro                                          ::::::::::::::::::::::::::::::::::::::::::::::...
        Netherlands                                         ::::::::::::::::::::::::::::::::::::::::::::::...
        Poland                                              ::::::::::::::::::::::::::::::::::::::::::::::...
        Portugal                                            ::::::::::::::::::::::::::::::::::::::::::::::...
        Romania                                             ::::::::::::::::::::::::::::::::::::::::::::::...
        Serbia                                              ::::::::::::::::::::::::::::::::::::::::::::::...
        Slovakia                                            ::::::::::::::::::::::::::::::::::::::::::::::...
        Slovenia                                            ::::::::::::::::::::::::::::::::::::::::::::::...
        Spain                                               ::::::::::::::::::::::::::::::::::::::::::::::...
        Sweden                                              ::::::::::::::::::::::::::::::::::::::::::::::...
        Switzerland                                         ::::::::::::::::::::::::::::::::::::::::::::::...
        Turkey                                              ::::::::::::::::::::::::::::::::::::::::::::::...
        United Kingdom                                      86.13273.84::::::::0.7715.02::::::::0.4313.54:...

[7600 rows x 1 columns]