In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

In [2]:
path = 'data/'

In [3]:
meat_consumption_path = path + 'meat_consumption.csv'
meat_consumption = pd.read_csv(meat_consumption_path)

In [4]:
meat_consumption.head()

  LOCATION    INDICATOR SUBJECT MEASURE FREQUENCY  TIME      Value  Flag Codes
0      AUS  MEATCONSUMP    BEEF  KG_CAP         A  1990   0.000004         NaN
1      AUS  MEATCONSUMP    BEEF  KG_CAP         A  1991  27.808401         NaN
2      AUS  MEATCONSUMP    BEEF  KG_CAP         A  1992  26.278166         NaN
3      AUS  MEATCONSUMP    BEEF  KG_CAP         A  1993  26.244478         NaN
4      AUS  MEATCONSUMP    BEEF  KG_CAP         A  1994  25.541244         NaN